@import url('node_modules/css-reset-and-normalize/css/reset-and-normalize.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

.rti--container {
  background: #f1f5f9 !important;
}

:root {
  --scrollbar-primary: transparent;
  --scrollbar-secondary: hsl(var(--b1) / 1);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-secondary) var(--scrollbar-primary);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-secondary);
  border-radius: 14px;
  border: 3px solid var(--scrollbar-primary);
}

[data-theme='light'] .bg-gradient {
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}
[data-theme='dark'] .bg-gradient {
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

[data-theme='cupcake'] .bg-gradient {
  background: #659999;
  background: linear-gradient(to right, #f4791f, #659999);
}

[data-theme='emerald'] .bg-gradient {
  background: #8360c3;
  background: linear-gradient(to right, #2ebf91, #8360c3);
}

[data-theme='cyberpunk'] .bg-gradient {
  background: #d38312;
  background: linear-gradient(to right, #d38312, #a83279);
}

[data-theme='corporate'] .bg-gradient {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

[data-theme='retro'] .bg-gradient {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

[data-theme='synthwave'] .bg-gradient {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

[data-theme='valentine'] .bg-gradient {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

[data-theme='halloween'] .bg-gradient {
  background: #000000;
  background: linear-gradient(to right, #e74c3c, #000000);
}

[data-theme='garden'] .bg-gradient {
  background: #6a9113;
  background: linear-gradient(to right, #141517, #6a9113);
}

[data-theme='forest'] .bg-gradient {
  background: #6a9113;
  background: linear-gradient(to right, #141517, #6a9113);
}

[data-theme='pastel'] .bg-gradient {
  background: #d1913c;
  background: linear-gradient(to right, #ffd194, #d1913c);
}

[data-theme='fantasy'] .bg-gradient {
  background: #780206;
  background: linear-gradient(to right, #061161, #780206);
}
[data-theme='luxury'] .bg-gradient {
  background: #000000;
  background: linear-gradient(to right, #434343, #000000);
}

[data-theme='dracula'] .bg-gradient {
  background: #dc2424;
  background: linear-gradient(to right, #4a569d, #dc2424);
}
[data-theme='cmyk'] .bg-gradient {
  background: #ed4264;
  background: linear-gradient(to right, #ffedbc, #ed4264);
}

[data-theme='autumn'] .bg-gradient {
  background: #5a3f37;
  background: linear-gradient(to right, #2c7744, #5a3f37);
}
[data-theme='acid'] .bg-gradient {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
[data-theme='lemonade'] .bg-gradient {
  background: #3ca55c;
  background: linear-gradient(to right, #b5ac49, #3ca55c);
}

[data-theme='night'] .bg-gradient {
  background: #141e30;
  background: linear-gradient(to right, #243b55, #141e30);
}

[data-theme='coffee'] .bg-gradient {
  background: #603813;
  background: linear-gradient(to right, #b29f94, #603813);
}

[data-theme='winter'] .bg-gradient {
  background: #000428;
  background: linear-gradient(to right, #004e92, #000428);
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
